<p>
    MessMates is all about saving and viewing records of the mess between roommates.
</p>
<p>
    You can add items and then view all items based on 'per day', 'per month' and 'per person'.
</p>
<p>
    You can add, edit and delete person in messmates page.
</p>
<p>
    Before deleting any item or person, make sure you are correct about it. As it can't be undone.<br>
    Also, when the person is deleted, it's items can't be viewed. As, those items will also get deleted from the database.
</p>